* {
  font-family: "Fira Sans", sans-serif;
  /* text-align: center; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#userInput {
  display: flex;
  justify-content: center;
}

#result {
  display: flex;
  justify-content: center;
  /* align-items: center; */

}

#return {
  text-align: center;
}